.input-form {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-form:focus {
  border: 1px solid black; /* 진하게 */
}

.input-form[disabled] {
  background-color: #f0f0f0;
}

.input-form[placeholder] {
  text-align: right;
  font-size: 10px;
}

.btn {
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-r;
  border: none;
  outline: none;
  color: #fff;
}
.st1 {
  background-color: #ec4381;
  font-size: 16px;
}
.st2 {
  background-color: var(--main_01);
  font-size: 16px;
}
.st3 {
  background-color: var(--gray_01);
}

.st4 {
  background-color: var(--gray_02);
}

#join-address-wrap {
  margin-bottom: 0;
}

#join-email-wrap {
  margin-bottom: 0;
}
